# Sentiment Analysis: Twitter dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('Twitter_Data.csv',delimiter="\t",quoting=3)
data.head()

                                 clean_text,category
0  when modi promised “minimum government maximum...
1  talk all the nonsense and continue all the dra...
2  what did just say vote for modi  welcome bjp t...
3  asking his supporters prefix chowkidar their n...
4  answer who among these the most powerful world...

In [3]:
data.tail()

                                      clean_text,category
192126  why these 456 crores paid neerav modi not reco...
192127  dear rss terrorist payal gawar what about modi...
192128  did you cover her interaction forum where she ...
192129  there big project came into india modi dream p...
192130  have you ever listen about like gurukul where ...

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192131 entries, 0 to 192130
Data columns (total 1 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   clean_text,category  192131 non-null  object
dtypes: object(1)
memory usage: 1.5+ MB

In [6]:
data.isna().sum()

clean_text,category    0
dtype: int64

In [25]:
data.head(2)

                                 clean_text,category
0  when modi promised “minimum government maximum...
1  talk all the nonsense and continue all the dra...

In [26]:
data.describe()

       clean_text,category
count               192131
unique              183152
top                    ",1
freq                  1774

In [31]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report

# Load the dataset (replace 'your_dataset.csv' with the actual file path)
dataset = pd.read_csv('Twitter_Data.csv')

# Data preprocessing
def preprocess_text(text):
    # Add your text preprocessing steps here
    # For simplicity, let's just lowercase the text
    return text.lower()

dataset['clean_text'] = dataset['clean_text'].apply(preprocess_text)

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(
    dataset['clean_text'], dataset['category'], test_size=0.2, random_state=42
)

# Convert text to TF-IDF vectors
tfidf_vectorizer = TfidfVectorizer(max_features=5000)
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train)
X_test_tfidf = tfidf_vectorizer.transform(X_test)

# Train a Naive Bayes classifier
nb_classifier = MultinomialNB()
nb_classifier.fit(X_train_tfidf, y_train)

# Make predictions on the test set
y_pred = nb_classifier.predict(X_test_tfidf)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")
print(classification_report(y_test, y_pred))

AttributeError: 'float' object has no attribute 'lower'